* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --corManha: 41, 41, 6;
  --corTarde: 248, 103, 0;
  --corNoite: 18, 23, 25;
  --corMadrugada: 38, 38, 38;

  --corDay: 41, 41, 0;
  --corNight: 255, 0, 0;

  --degDia: linear-gradient(
    7deg,
    rgba(var(--corDay), 1),
    rgba(48, 59, 42, 0.541)
  );

  --degNoite: linear-gradient(352deg, var(--corNight), black);
}

body {
  background: rgba(233, 233, 233, 0.616);
  font-family: 'Roboto', sans-serif;
}

.manha {
  background-image: url(/assets/manha.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgba(var(--corManha), 1);
  color: rgb(2, 2, 2);
}

.tarde {
  background-image: url(/assets/tarde.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgba(var(--corNoite), 1);
  color: white;
}

.noite {
  background-image: url(/assets/noite.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgba(var(--corNoite), 1);
  color: rgb(255, 255, 255);
}

.madrugada {
  background-image: url(/assets/noite.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgba(var(--corNoite), 1);
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: max-content;
  position: relative;
  background: #fff;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.manha #section-saudacao {
  color: gold;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.tarde #section-saudacao {
  color: rgba(var(--corTarde), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#section-saudacao {
  position: relative;
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 1.5rem;
}

#section-saudacao i {
  position: absolute;
  font-size: 2rem;
  right: 5px;
  top: 5px;
}

.manha #section-data {
  color: gold;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.tarde #section-data {
  color: rgba(var(--corTarde), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#section-data {
  font-size: 1.3rem;
  position: absolute;
  bottom: 30px;
  z-index: 3;
  width: 100%;
}

#section-hora {
  background: rgb(0 0 0 / 35%);
  border-radius: 4px;
  padding: 5px;
  font-size: 2rem;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Orbitron', sans-serif;
}

#seconds {
  font-size: 1.5rem;
}

#section-image.noitedeg::before {
  content: '';
  position: absolute;
  bottom: -15%;
  left: -10%;
  width: 120%;
  height: 205px;
  background: var(--degNoite);
  transform: rotate(-10deg);
  z-index: 1;
}

#section-image.diadeg::before {
  content: '';
  position: absolute;
  bottom: -15%;
  left: -10%;
  width: 120%;
  height: 210px;
  background: var(--degDia);
  z-index: 1;
}

#section-image img {
  z-index: 2;
}
#section-image {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#git {
  position: absolute;
  top: 50%;
  right: 38.5%;
  z-index: 5;
}

#git a {
  color: black;
  font-size: 2rem;
}

#image {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 -5px 20px 10px rgba(var(--corNoite), 50%);
  width: 90%;
}

/* Skeleton Load ################## */
@keyframes loadings {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.load * {
  position: relative;
}

.load *::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: 400% !important;
  animation: loadings 1s infinite linear;
  background: linear-gradient(
    100deg,
    #eee 0%,
    #eee 10%,
    lightgray 40%,
    lightgray 50%,
    #eee 60%,
    #eee 100%
  );
}
