* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --corManha: #FDD835;
  --corTarde: #feb115;
  --corNoite: #503f49;
  --corMadrugada: #503f49;
}

main {
  text-align: center;
  background: #ECEFF1;
  margin: 100px auto;
  padding: 0.7rem;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

/* Skeleton Load ################## */ 
 @keyframes loadings { 
   0% { 
     background-position: 100%; 
   } 
  
   100% { 
     background-position: 0%; 
   } 
 } 
  
 .load * { 
   position: relative; 
 } 
  
 .load *::after { 
   content: ""; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   position: absolute;
   border-radius: 4px;
   background-size: 400% !important; 
   background: linear-gradient( 
     100deg, 
     #eee 0%, 
     #eee 10%, 
     lightgray 40%, 
     lightgray 50%, 
     #eee 60%, 
     #eee 100% 
   ); 
   animation: loadings 1s infinite linear; 
 }

section {
  padding: 10px;
  border-radius: 4px;
}

section:nth-child(2) {
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.3);
}

#image {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid;
}

#seconds {
  font-size: .9rem;
}

.manha {
  background: var(--corManha);
}

.tarde {
  background: var(--corTarde);
}

.noite {
  background: var(--corNoite);
}

.madrugada {
  background: var(--corMadrugada);
}

#saudacao-section {
  position: relative;
}

#saudacao-section i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
}