* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --corManha: 0, 0, 0;
  --corDia: 223, 147, 6;
  --corTarde: 248, 103, 0;
  --corNoite: 255, 255, 255;
  --corMadrugada: 255, 255, 255;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(233, 233, 233, 0.616);
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
  position: relative;
  background: #fff;
  padding-bottom: 10px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.manha {
  background-image: url(assets/manha.jpg);
  background-size: 100% 100%;
}

.tarde {
  background-image: url(assets/tarde.jpg);
  background-size: 100% 100%;
}

.noite,
.madrugada {
  background-image: url(assets/noite.jpg);
  background-size: 100% 100%;
}

/* Saudação */
.manha #section-saudacao {
  color: rgba(var(--corManha), 1);
  text-shadow: 1px 1px 1px rgba(var(--corDia), 1);
}

.tarde #section-saudacao {
  color: rgba(var(--corTarde), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.madrugada #section-saudacao,
.noite #section-saudacao {
  color: rgba(var(--corNoite), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#section-saudacao {
  position: relative;
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 1.5rem;
}

#section-saudacao i {
  position: absolute;
  font-size: 2rem;
  right: 5px;
  top: 5px;
}

/* Data */
.manha #section-data {
  color: rgba(var(--corManha), 1);
  text-shadow: 1px 1px 1px rgba(var(--corDia), 1);
}

.tarde #section-data {
  color: rgba(var(--corTarde), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.madrugada #section-data,
.noite #section-data {
  color: rgba(var(--corNoite), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#section-data {
  font-size: 1.3rem;
  width: 100%;
}

/* Hora */
.manha #section-hora {
  color: rgba(var(--corManha), 1);
  text-shadow: 1px 1px 1px rgba(var(--corDia), 1);
}

.tarde #section-hora {
  color: rgba(var(--corTarde), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.madrugada #section-hora,
.noite #section-hora {
  color: rgba(var(--corNoite), 1);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#section-hora {
  background: rgb(0 0 0 / 35%);
  padding: 5px;
  font-size: 2rem;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}

#seconds {
  font-size: 1.5rem;
}

/* Imagem */
#section-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-image img {
  z-index: 2;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 -5px 20px 10px rgba(0, 0, 0, 50%);
}

/* Git */
#git {
  position: absolute;
  z-index: 5;
  bottom: 3%;
  border-radius: 50%;
}

.manha #git a {
  color: rgba(var(--corManha), 1);
}

.tarde #git a {
  color: rgba(var(--corTarde), 1);
}

.madrugada #git a,
.noite #git a {
  color: rgba(var(--corNoite), 1);
}

#git a {
  font-size: 2.5rem;
}

/* Skeleton Load ################## */
@keyframes loadings {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.load::after {
  content: '';
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: 400% !important;
  animation: loadings 1s infinite linear;
  background: linear-gradient(
    100deg,
    #eee 0%,
    #eee 10%,
    lightgray 40%,
    lightgray 50%,
    #eee 60%,
    #eee 100%
  );
}
